@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Exam.Models.File>

<div class="row">
    <div class="col-3-5">
    </div>
    <div class="col-2-5">
        <div class="down">
            <h3>Выберите файл для загрузки</h3>
            <form asp-action="AddFile" class="down" asp-controller="Home" method="post" enctype="multipart/form-data">
                <input type="file" name="uploads" accept=".txt" /><br>
                <input type="submit" value="Загрузить" />
            </form>
        </div>
    </div>
</div>
<div>
    <div class="col-2-5">
        <div class="down">
            <h3>Список файлов</h3>
            @try
            {
                foreach (var file in Model)
                {
                <p>file.Name</p>
                }
            }
            catch { <p> Файлов нет</p>}

        </div>
    </div>
</div>